@charset "UTF-8";
* {
  margin: 0;
  /* normalización*/
  padding: 0; }

html {
  font-size: 62.5%;
  /* conversión de 1rem a 10px y fuente del documento */
  font-family: 'Work Sans', sans-serif; }

.inline {
  display: inline;
  /* elemento en línea */ }

.block {
  display: block;
  /* elemento en bloque */ }

.inline-block {
  display: inline-block;
  /* elemento inline-block */ }

.btnWhatsapp, .bottonform {
  background-color: white;
  border-color: white;
  width: 120px;
  height: 60px;
  border: 2px solid #07ad02;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  color: black;
  margin: 10px;
  padding: 5px;
  transition-duration: 0.8s;
  cursor: pointer; }
  .btnWhatsapp:hover, .bottonform:hover {
    background-color: #07ad02;
    color: white; }

.tituloProducto {
  color: #f79605;
  font-size: 5rem; }

.descripcionProducto {
  font-size: 2.5rem;
  margin-bottom: 10px; }

.img-producto {
  width: 350px;
  transition: width 3s; }
  .img-producto:hover {
    transform: scale(1.1); }

.nombre-producto {
  font-size: 2rem;
  border-bottom-color: #f79605;
  border-bottom-width: 1px;
  border-bottom-style: groove;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center; }

.txt-benef-y-caract {
  color: #000000;
  font-size: 2rem;
  line-height: 1, 5;
  text-align: justify; }

.img-benef-y-caract {
  width: 650px;
  border-radius: 30px; }

.bottonform {
  font-size: 2rem;
  width: 175px;
  height: height-botton-form;
  border: 2px solid #f79605; }
  .bottonform:hover {
    background-color: #f79605; }

.logoTitulo {
  color: white;
  font-size: 4.5rem;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 10px; }

nav {
  margin-right: 30px; }

ul {
  list-style: none;
  font-size: 2.1rem; }
  ul ul {
    background-color: #f79605;
    width: 100%;
    position: absolute;
    display: none; }
    ul ul li {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px; }
  ul li {
    color: white;
    display: inline-block;
    width: 16,6%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px; }
    ul li:hover ul {
      display: block; }
    ul li a {
      color: white;
      text-decoration: none;
      display: block; }

footer {
  background-color: #f79605;
  height: 80px; }

.redes-ig {
  width: 30px;
  margin-left: 10px;
  margin-right: 5px; }

.redes-fb {
  width: 30px;
  /* ancho íconos redes */
  margin-right: 10px;
  /* margin */
  margin-left: 5px;
  padding-right: 25px;
  /* padding */
  padding-left: 5px; }

.img-linea {
  width: 300px;
  border-radius: 30px;
  transition: width 1,5s; }
  .img-linea:hover {
    transform: scale(1.05); }

.lineaProducto {
  font-size: 2.1rem;
  color: #000000;
  text-decoration: none; }

h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.infoComercial {
  font-size: 4rem;
  line-height: 2; }

.iconos-info-comercial {
  width: 25px; }

.receta {
  font-size: 2rem;
  border-bottom-color: #f79605;
  border-bottom-width: 1px;
  border-bottom-style: groove; }

.textoform {
  font-size: 2rem;
  margin: 10px;
  padding: 5px; }

.inputform {
  width: 280px;
  margin: 10px;
  padding: 5px; }

.img-contacto {
  width: 205px; }
  .img-contacto:hover {
    transform: scale(1.1); }

p {
  font-size: 2rem; }
