.textoform {
    font-size: $font-size-txt;
    margin: 10px;
    padding: 5px;
}

.inputform {
    width: 400px;
    margin: 10px;
    padding: 5px;
}

.img-contacto {
    width: $img-contacto;
}

p {
    font-size: $font-size-txt; 
}