*{
    margin: 0; /* normalización*/
    padding: 0;
}

html {
    font-size: 62.5%; /* conversión de 1rem a 10px y fuente del documento */
    font-family: 'Work Sans', sans-serif;
}

.inline {
    display: inline; /* elemento en línea */
}

.block {
    display: block; /* elemento en bloque */
}

.inline-block {
    display: inline-block; /* elemento inline-block */
}

.btnWhatsapp {
    background-color: $color-boton;
    border-color: $color-boton;
    width: $width-boton;
    height: $height-boton;
    border: $grosor-borde-boton;
    font-size: $font-size-boton;
    font-family: $fuente-boton;
    color: $color-texto-boton;
    margin: $margin-boton;
    padding: $padding-boton;
    transition-duration: 0.8s;
    cursor: pointer;
    &:hover {
        background-color: $color-boton-cursor;
        color: $color-text-boton-cursor;
    } 
}

.tituloProducto {
    color: $color-titulo-producto;
    font-size: $font-size-titulo-producto;
}

.descripcionProducto {
    font-size: $font-size-descrip-producto;
    margin-bottom: $margin-bottom-descripcion-producto;
}

.img-producto {
    width: $width-img-producto;
    transition: width 3s;
    &:hover {
        transform: scale(1.1);
    } 
}

.nombre-producto {
    font-size: $font-size-nombre-producto;
    border-bottom-color: $color-subrayado-nombre-producto;
    border-bottom-width: $grosor-borde-nombre-producto;
    border-bottom-style: groove;
    margin-top: $margin-top-nombre-producto;
    margin-bottom: $margin-bottom-nombre-producto;
    text-align: center;
}

.txt-benef-y-caract {
    color: $color-txt-sitio;
    font-size: $font-size-txt;
    line-height: $interlineado-txt;
    text-align: justify;
}

.img-benef-y-caract {
    width: $img-benef-y-caract;
    border-radius: $borde-img;
}

.bottonform {
    @extend .btnWhatsapp;
    font-size: $font-size-txt;
    width: $width-botton-form;
    height: height-botton-form;
    border: $grosor-borde-boton-form;
    &:hover {
        background-color: $color-boton-form-cursor;
    } 
}